<div class="box">
  <div class="centered">
    <table class="chess-board">
      <tbody>
        <tr>
          <th>8</th>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
        </tr>
        <tr>
          <th>7</th>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
        </tr>
        <tr>
          <th>6</th>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
        </tr>
        <tr>
          <th>5</th>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
        </tr>
        <tr>
          <th>4</th>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
        </tr>
        <tr>
          <th>3</th>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
        </tr>
        <tr>
          <th>2</th>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
        </tr>
        <tr>
          <th>1</th>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
          <app-gray></app-gray>
          <app-white></app-white>
        </tr>
      </tbody>
    </table>
  </div>
</div>
